.home-bar {
  background: $main-gradient;
  margin-top: 1px;

  &__wrapper {
    @include flex-direction;
    align-items: center;
    justify-content: center;
    gap: 14px;
    //max-width: 224px;
    width: 100%;

    @include media(sm2) {
      gap: 20px;
    }
  }

  &__link {
    @include flex-direction($direction: row-reverse);
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.7;
    font-weight: $font-weight-regular;
    align-items: center;
    gap: 6px;
    color: $color-light-title;
    text-decoration: none;

    @include media(sm2) {
      gap: 8px;
    }
  }
}