/*.carousel {
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  .carousel__wrap {
    & > div {
      display: flex;
      align-items: stretch;
      width: 100%;

      .carousel__item {
        display: flex;
        flex-direction: column;
        gap: 25px;
        min-height: 100%;
        //margin: 0 20px;
        @include media(sm) {
          margin-right: 20px;
        }
        @include media(sm2) {
          margin-right: 10px;
        }

        & .article-over {
          .article-over__image-wrap {
            aspect-ratio: 2/2;
          }

          @include media(sm) {
            &.article-over__image-wrap {
              aspect-ratio: 2/1;
            }
          }
        }
      }
    }
  }
*/
  .carousel__prev,
  .carousel__next {
    font-size: 12px;
    color: $color-slider-btn;
    background-color: #f3f1ec;
    border: 1px solid $color-border-btn;
    text-transform: uppercase;
    padding: 7px;
    border-radius: 9px;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      opacity: .7;
    }
  }



.carousel{
  //overflow: visible!important;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.carousel__wrap{
  // aling items height

  & > div{
    display: flex;
    align-items:stretch;
    width: 100%;

    .carousel__item{
      min-height: 100%;
    }
  }
}

.carousel__item{
}

.carousel__next{
  display: inline-block;

  &.icon{
    color: #000;
    font-size: 22px;
    opacity: 0.5;
  }

  &:hover{
    opacity: 1!important;
    cursor: pointer;
  }

  .carousel-3-slide &{
    float: right;
    //margin-left: 0.5em;
    //margin-right: -0.5em;
  }

}//prev next


// Three Items
//-----------------------------------------------------
.carousel-3-slide {

  .carousel__wrap{
    margin: 0 -13px;
  }

  .carousel__item{
    margin: 0 13px;
  }

}//.carousel--1-item


// Single item
//-----------------------------------------------------



