.txt-center{
  width:100%;
  text-align:center;
}

.txt-right{
  width:100%;
  text-align:right;
}

.ov-auto{
  overflow:auto;
}

.underline{
  text-decoration: underline;
}

.img--right{
  float:right;
  text-align:center;
  margin:0 0 1em 1.5em;
}

.img--left{
  float:left;
  text-align:center;
  margin:0 1.5em 1em 0;
}
